/.idea
/1980-01-08 09-44-24.log
/AT00018
/AT00020
/build
/dist
/dist.zip
/Ejecutable
/Entrega2_VIG.py
/GNSS.py
/GNSS.spec
/GNSS_full.py
/GNSS_full.spec
/GNSS_prueba.py
/Logs NTRIP
/Logs Prueba
/log_GNSS.py
/Low_Speed.py
/Low_Speed_Alante.log
/Low_Speed_Alante.py
/Low_Speed_Derecha.log
/Low_Speed_derecha.py
/main.py
/Ratón.py
/temp.py
/tempsnip.png
/tempsnip2.png
/text.txt
/Trajectory.log
/Trajectory.py
/Trayectory.py
/txt.py
/venv